.contact-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  padding: 2rem;
}